.guess {
  display: flex;
  justify-content: initial;

  &.good-guess {
    animation: good-guess 0.3s;
  }

  &.bad-guess {
    animation: bad-guess 0.3s;
  }

  &.repeat-guess {
    animation: repeat-guess 0.3s;
  }
}

.guess-letter {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid rgb(150, 150, 150);
  margin: 2px;
}

.guess-filled-letter {
  border-color: black;
}

.guess-fixed-letter {
  background-color: rgb(150, 175, 150);
  border-color: black;
}

.guess-next-letter {
  border-color: black;
}

@keyframes repeat-guess {
  0% {
    transform: translateX(0px);
    color: yellow;
  }
  25% {
    transform: translateX(3px);
    color: yellow;
  }
  50% {
    transform: translateX(-3px);
    color: yellow;
  }
  75% {
    transform: translateX(3px);
    color: yellow;
  }
  100% {
    transform: translateX(0);
    color: yellow;
  }
}

@keyframes bad-guess {
  0% {
    transform: translateX(0px);
    color: red;
  }
  25% {
    transform: translateX(3px);
    color: red;
  }
  50% {
    transform: translateX(-3px);
    color: red;
  }
  75% {
    transform: translateX(3px);
    color: red;
  }
  100% {
    transform: translateX(0);
    color: red;
  }
}

@keyframes good-guess {
  0% {
    transform: translateY(0px);
    color: green;
  }
  25% {
    transform: translateY(3px);
    color: green;
  }
  50% {
    transform: translateY(-3px);
    color: green;
  }
  75% {
    transform: translateY(3px);
    color: green;
  }
  100% {
    transform: translateY(0);
    color: green;
  }
}
