.links {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  vertical-align: middle;
  gap: 5px;
  padding: 5px;
}

.link-image {
  max-height: 2em;

  & img {
    max-height: 2em;
  }
}
