.word-info {
  color: #cccccc;

  &.is-found {
    color: #888888;
    @media (prefers-color-scheme: light) {
      color: #cccccc;
    }
  }

  @media (prefers-color-scheme: light) {
    color: black;
  }
}
