:root {
  font-family: monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.page:focus {
  outline-width: 0;
}

.words {
}

.word {
  font-weight: bold;
  margin: 2px;
  width: 100px;
}

.faded {
  opacity: 0.15;
}

.guess {
  /* width: 100%; */
}

.guess.good-guess {
  animation: good-guess 0.3s;
}

@keyframes good-guess {
  0% {
    transform: translateY(0px);
    color: green;
  }
  25% {
    transform: translateY(3px);
    color: green;
  }
  50% {
    transform: translateY(-3px);
    color: green;
  }
  75% {
    transform: translateY(3px);
    color: green;
  }
  100% {
    transform: translateY(0);
    color: green;
  }
}

.guess.bad-guess {
  animation: bad-guess 0.3s;
}

@keyframes bad-guess {
  0% {
    transform: translateX(0px);
    color: red;
  }
  25% {
    transform: translateX(3px);
    color: red;
  }
  50% {
    transform: translateX(-3px);
    color: red;
  }
  75% {
    transform: translateX(3px);
    color: red;
  }
  100% {
    transform: translateX(0);
    color: red;
  }
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.page {
  height: 100%;
}

#input {
  visibility: hidden;
}

.keyboard {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  background-color: black;
  flex-direction: column;
}

.keyboard .row {
  gap: 5px;
  width: 100%;
  flex-grow: 1;
  padding-top: 5px;
}

.keyboard .row:last-child {
  padding-bottom: 5px;
}

.keyboard .row.top {
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;
  color: white;
  padding: 5px;
  flex-grow: 1;
  /* aspect-ratio: 1/2; */
  border-radius: 3px;
}

.key-content {
}

.half-key {
  flex: 0.5;
  visibility: hidden;
}

.one-and-a-half-key {
  flex: 1.5;
}
